@font-face {
    font-family: Poppins-Regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

:root {
    --main-font: 'Popins', sans-serif;
    --display-font: 'Poppins-ExtraBoldItalic', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Jost', sans-serif;
    --second-font: 'Roboto', sans-serif;
}


body {
    font-family: var(--main-font);
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 25px;
    width: 500px;
}
