@font-face {
    font-family: Poppins-Regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

:root {
    --main-font: 'Popins', sans-serif;
    --display-font: 'Poppins-ExtraBoldItalic', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Jost', sans-serif;
    --second-font: 'Roboto', sans-serif;
}


body {
    font-family: var(--main-font);
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    width: 700px;
    padding: 30px;
}

.form-container {
    padding-bottom: 30px;
}

.divider {
    position: relative;
    padding-bottom: 25px;
}

hr {
    border: 0.5px solid #E0E0E0;
    width: 80%;
}

.arrow-img {
    background-color: #7F4EF7;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: -32px;
    right: 58px;
    width: 70px;
}

#birthday-form {
    display: flex;
    column-gap: 20px;
}

label {
    font-family: var(--second-font);
    font-weight: bold;
    color: #646464;
    font-size: 9px;
    letter-spacing: 2px;
}

input {
    padding: 10px;
    width: 100px;
    margin-top: 5px;
    border-color: #E0E0E0;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

::placeholder {
    font-size: 20px;
    font-weight: bold;
    color: #8D8D8D;
    position: absolute;
    top: 7px;
}
