@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Jost', sans-serif;
    --second-font: 'Roboto', sans-serif;
}


body {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
}